.openSaveDrawingDialogContent {
  width: 500px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fetchInProgress {
  display: flex;
  align-items: center;
  justify-content: center;
}