.dialogTitle {
	display: flex;
	justify-content: space-between;
}

.wideDialogContent {
	width: 700px;
}

.overflowingDialogContent {
	overflow: auto;
}

.drawingListContainer {
	height: 500px;
}

.drawingListItem {
	display: flex;
	align-items: center;
}

.dialogContent {
	margin-top: 4px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.workInProgress {
	margin-top: 0;
}